@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  overflow: visible;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Für Firefox */
html {
  scrollbar-width: none; /* Versteckt die Scrollbar */
}

/* Für WebKit-basierte Browser (Chrome, Safari, Edge, etc.) */
html::-webkit-scrollbar {
  display: none; /* Versteckt die Scrollbar */
}

/* Sicherstellen, dass Scrollen weiterhin funktioniert */
html {
  overflow: auto;
}
